.leaflet-popup-content-wrapper {
  background: var(--theme-color) !important;
  border-radius: 5px !important;
  color: #eaeff1 !important;
}

.leaflet-container a.leaflet-popup-close-button {
  color: white !important;
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #b4c7cd !important;
}

.leaflet-popup-tip {
  background: var(--theme-color) !important;
  border-radius: 2px !important;
}
