.container {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cardsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: max-content !important;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100% !important;
  height: max-content !important;

  background-color: var(--card-background);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  position: relative;
}

.cardHeader {
  background-color: var(--heading-bg-color);
  color: #fff;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;

  position: absolute;
  top: -20px;

  margin: 0 auto;
  width: max-content !important;
  height: max-content !important;
}

.cardBody {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 74.5% !important;
  height: 100% !important;
}

@media (max-width: 968px) {
  .cardsContainer {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .cardContainer {
    width: 100% !important;
  }
}

@media (max-width: 600px) {
  .cardBody {
    width: 100% !important;
    height: 100% !important;
  }
}

@media (max-width: 470px) {
  .cardBody {
    width: 100% !important;
    height: 100% !important;
  }
}

@media (max-width: 436px) {
  .cardBody {
    width: 100% !important;
    height: 100% !important;
  }

  .container {
    margin: 30px 0 !important;
  }
}
