.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif !important;
  width: 100% !important;
  height: 100% !important;
}

.chart canvas {
  width: 100% !important;
  height: 100% !important;
  font-family: "Poppins", sans-serif !important;
}
