.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100% !important;
}

.mapContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100% !important;
  height: max-content !important;
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
}
